h1 {
    background-color: #aa0000;
    color: green;
    text-align: left
}

.momo {
    background-color: #0000aa;
}

#foo {
    background-color: #aaaaaa;
}

.m1 div {
    background-color: #aaaaaa;
}
