<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/angular.min.js"></script>
    <style>
        th {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Customers</h1>
    <div ng-app="myApp" ng-controller="customController">
        <p><input type="search" ng-model="userSearch"></p>
        <table border="1">
            <tr>
                <th ng-click="orderByMe('CustomerID')">CustomerID</th>
                <th ng-click="orderByMe('CompanyName')">CompanyName</th>
                <th ng-click="orderByMe('ContactTitle')">ContactTitle</th>
                <th ng-click="orderByMe('ContactName')">ContactName</th>
            </tr>
            <tr ng-repeat="c in customers | filter:{CompanyName:userSearch} |orderBy:myOrderBy  | limitTo:pageSize:currentPage*pageSize">
                <td>{{c.CustomerID}}</td>
                <td>{{c.CompanyName}}</td>
                <td>{{c.ContactTitle}}</td>
                <td>{{c.ContactName}}</td>
            </tr>
        </table>
        <button ng-repeat="i in getNumberAsArray(numberOfPages(customers | filter:{CompanyName:userSearch})) track by $index"
                ng-click="setCurrentPage($index)">
            {{$index+1}}
        </button>

    </div>
    <script>
        angular.module('myApp', []).
            controller('customController', function ($scope, $http) {
                $http.get('api/Customer').
                    then(function (response) {
                        $scope.customers =
                            angular.fromJson(response.data);

                        $scope.pageSize = 10;
                        $scope.currentPage = 0;
                        $scope.setCurrentPage = function (currentPage) {
                            $scope.currentPage = currentPage;
                        }
                        $scope.numberOfPages = function (cs) {
                            return Math.ceil(cs.length / $scope.pageSize);
                        }
                        $scope.getNumberAsArray = function (num) {
                            return new Array(num)
                        }

                    });

                $scope.myOrderBy = 'CustomerID';
                $scope.orderByMe = function (x) {
                    $scope.myOrderBy = x
                }
            });
    </script>

</body>
</html>